:root {
    /* Everforest colors */
    --everforest-bg_dim: #232A2E;
    --everforest-bg0: #2D353B;
    --everforest-bg1: #343F44;
    --everforest-bg2: #3D484D;
    --everforest-bg3: #475258;
    --everforest-bg4: #4F585E;
    --everforest-bg5: #56635f;
    --everforest-bg_visual: #543A48;
    --everforest-fg: #D3C6AA;
    --everforest-red: #E67E80;
    --everforest-orange: #E69875;
    --everforest-yellow: #DBBC7F;
    --everforest-green: #A7C080;
    --everforest-aqua: #83C092;
    --everforest-blue: #7FBBB3;
    --everforest-purple: #D699B6;
    --everforest-grey0: #7A8478;
    --everforest-grey1: #859289;
    --everforest-grey2: #9DA9A0;

    /* Utils */
    --darken-ratio: 25%;
}

/* Advanced Line Number*/
.active-line-highlight {
  background-color: oklch(53% 0 0 / 8%);
  border-radius: 0.25rem;
}

.active-gutter-highlight {
  /* background-color: #bec5b285; */
  border-radius: 0.25rem;
  color: #ffffff;
}
